// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024 Beijing ESWIN Computing Technology Co., Ltd.
 */

/dts-v1/;
#include <dt-bindings/clock/eswin,eic7700-clock.h>
#include <dt-bindings/clock/eswin,eic7700-hspcrg.h>
#include <dt-bindings/reset/eswin,eic7700-hspcrg.h>
#include <dt-bindings/reset/eswin,eic7700-reset.h>
#include <dt-bindings/riscv/physical-memory.h>

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	riscv,physical-memory-regions =
			<0x000 0x80000000 0x00f 0x80000000 (PMA_RWXA | PMA_NONCOHERENT_MEMORY) 0x0>,
			<0x0c0 0x00000000 0x010 0x00000000 (PMA_RWX | PMA_NONCACHEABLE_MEMORY | PMR_ALIAS(0)) 0x0>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <1000000>;

		cpu0: cpu@0 {
			compatible = "sifive,p550", "riscv";
			device_type = "cpu";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			i-cache-block-size = <64>;
			i-cache-sets = <128>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2_cache_0>;
			reg = <0x0>;
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "sscofpmf",
					       "zba", "zbb", "zicsr", "zifencei";
			tlb-split;

			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu1: cpu@1 {
			compatible = "sifive,p550", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <128>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2_cache_1>;
			reg = <0x1>;
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "sscofpmf",
					       "zba", "zbb", "zicsr", "zifencei";
			tlb-split;

			cpu1_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu2: cpu@2 {
			compatible = "sifive,p550", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <128>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2_cache_2>;
			reg = <0x2>;
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "sscofpmf",
					       "zba", "zbb", "zicsr", "zifencei";
			tlb-split;

			cpu2_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu3: cpu@3 {
			compatible = "sifive,p550", "riscv";
			d-cache-block-size = <64>;
			d-cache-sets = <128>;
			d-cache-size = <32768>;
			d-tlb-sets = <1>;
			d-tlb-size = <32>;
			device_type = "cpu";
			i-cache-block-size = <64>;
			i-cache-sets = <128>;
			i-cache-size = <32768>;
			i-tlb-sets = <1>;
			i-tlb-size = <32>;
			mmu-type = "riscv,sv48";
			next-level-cache = <&l2_cache_3>;
			reg = <0x3>;
			riscv,isa-base = "rv64i";
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "sscofpmf",
					       "zba", "zbb", "zicsr", "zifencei";
			tlb-split;

			cpu3_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";
				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		l2_cache_0: l2-cache0 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <512>;
			cache-size = <262144>;
			cache-unified;
			next-level-cache = <&ccache>;
		};

		l2_cache_1: l2-cache1 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <512>;
			cache-size = <262144>;
			cache-unified;
			next-level-cache = <&ccache>;
		};

		l2_cache_2: l2-cache2 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <512>;
			cache-size = <262144>;
			cache-unified;
			next-level-cache = <&ccache>;
		};

		l2_cache_3: l2-cache3 {
			compatible = "cache";
			cache-block-size = <64>;
			cache-level = <2>;
			cache-sets = <512>;
			cache-size = <262144>;
			cache-unified;
			next-level-cache = <&ccache>;
		};
	};

	pmu {
		compatible = "riscv,pmu";
		riscv,event-to-mhpmcounters =
				<0x00001 0x00001 0x00000001>,
				<0x00002 0x00002 0x00000004>,
				<0x00004 0x00006 0x00000078>,
				<0x10009 0x10009 0x00000078>,
				<0x10019 0x10019 0x00000078>,
				<0x10021 0x10021 0x00000078>;
		riscv,event-to-mhpmevent =
				<0x00004 0x00000000 0x00000202>,
				<0x00005 0x00000000 0x00004000>,
				<0x00006 0x00000000 0x00002001>,
				<0x10009 0x00000000 0x00000102>,
				<0x10019 0x00000000 0x00001002>,
				<0x10021 0x00000000 0x00000802>;
		riscv,raw-event-to-mhpmcounters =
				<0x00000000 0x00000000 0xffffffff 0xfc0000ff 0x00000078>,
				<0x00000000 0x00000001 0xffffffff 0xfffe07ff 0x00000078>,
				<0x00000000 0x00000002 0xffffffff 0xfffe00ff 0x00000078>,
				<0x00000000 0x00000003 0xfffffffc 0x000000ff 0x00000078>,
				<0x00000000 0x00000004 0xffffffc0 0x000000ff 0x00000078>,
				<0x00000000 0x00000005 0xffffffff 0xfffffdff 0x00000078>,
				<0x00000000 0x00000006 0xfffffe00 0x110204ff 0x00000078>,
				<0x00000000 0x00000007 0xffffffff 0xf00000ff 0x00000078>,
				<0x00000000 0x00000008 0xfffffe04 0x000000ff 0x00000078>,
				<0x00000000 0x00000009 0xffffffff 0xffffc0ff 0x00000078>,
				<0x00000000 0x0000000a 0xffffffff 0xf00000ff 0x00000078>,
				<0x00000000 0x0000000b 0xffffffff 0xfffffcff 0x00000078>,
				<0x00000000 0x0000000c 0xfffffff0 0x000000ff 0x00000078>,
				<0x00000000 0x0000000d 0xffffffff 0x800000ff 0x00000078>,
				<0x00000000 0x0000000e 0xffffffff 0xf80000ff 0x00000078>,
				<0x00000000 0x0000000f 0xfffffffc 0x000000ff 0x00000078>;
	};

	clock_24m: clock-24m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
	};

	soc {
		compatible = "simple-bus";
		ranges;
		interrupt-parent = <&plic>;
		#address-cells = <2>;
		#size-cells = <2>;
		dma-noncoherent;

		clint: timer@2000000 {
			compatible = "eswin,eic7700-clint", "sifive,clint0";
			reg = <0x0 0x02000000 0x0 0x10000>;
			interrupts-extended =
				<&cpu0_intc 3>, <&cpu0_intc 7>,
				<&cpu1_intc 3>, <&cpu1_intc 7>,
				<&cpu2_intc 3>, <&cpu2_intc 7>,
				<&cpu3_intc 3>, <&cpu3_intc 7>;
		};

		ccache: cache-controller@2010000 {
			compatible = "eswin,eic7700-l3-cache", "sifive,ccache0", "cache";
			reg = <0x0 0x2010000 0x0 0x4000>;
			interrupts = <1>, <3>, <4>, <2>;
			cache-block-size = <64>;
			cache-level = <3>;
			cache-sets = <4096>;
			cache-size = <4194304>;
			cache-unified;
		};

		plic: interrupt-controller@c000000 {
			compatible = "eswin,eic7700-plic", "sifive,plic-1.0.0";
			reg = <0x0 0xc000000 0x0 0x4000000>;
			interrupt-controller;
			interrupts-extended =
				<&cpu0_intc 11>, <&cpu0_intc 9>,
				<&cpu1_intc 11>, <&cpu1_intc 9>,
				<&cpu2_intc 11>, <&cpu2_intc 9>,
				<&cpu3_intc 11>, <&cpu3_intc 9>;
			riscv,ndev = <520>;
			#address-cells = <0>;
			#interrupt-cells = <1>;
		};

		dsi_controller: mipi_dsi@50270000 {
			compatible = "eswin,eic7700-dsi";
			reg = <0x0 0x50270000 0x0 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			clocks = <&clk EIC7700_CLK_FIXED_FACTOR_MIPI_TXESC_DIV10>;
			clock-names = "pclk";
			resets = <&reset EIC7700_RESET_VO_MIPI>;
			reset-names ="phyrstn";
			numa-node-id = <0>;
		};

		dw_hdmi: hdmi@502a0000 {
			compatible = "eswin,eic7700-es-dw-hdmi";
			reg = <0x0 0x502a0000 0x0 0x20000>;
			pinctrl-names = "default";
			interrupt-parent = <&plic>;
			interrupts = <274>;
			clocks = <&clk EIC7700_CLK_GATE_VO_CFG_CLK>, <&clk EIC7700_CLK_DIV_VO_CEC_DYNM>,
						<&clk EIC7700_CLK_GATE_VO_CR_CLK>;
			clock-names = "iahb", "cec", "isfr";
			reg-io-width = <4>;
			ddc-i2c-scl-high-time-ns = <4708>;
			ddc-i2c-scl-low-time-ns = <4916>;
			#sound-dai-cells = <0>;
			resets = <&reset EIC7700_RESET_VO_HDMI_PRST>,
						<&reset EIC7700_RESET_VO_HDMI_PHY>,
						<&reset EIC7700_RESET_VO_HDMI>;
			reset-names = "prstn", "phyrstn", "rstn";
			numa-node-id = <0>;
		};

		dw_hdmi_hdcp2: hdmi-hdcp2@50290000 {
			compatible = "eswin,eic7700-dw-hdmi-hdcp2";
			reg = <0x0 0x50290000 0x0 0x10000>;
			interrupt-parent = <&plic>;
			interrupts = <275>;
			clocks = <&clk EIC7700_CLK_GATE_VO_ACLK>,
					<&clk EIC7700_CLK_GATE_VO_HDMI_IESMCLK>;
			clock-names ="aclk", "iesmclk";
			numa-node-id = <0>;
		};

		dc: display_control@502c0000 {
			compatible = "eswin,eic7700-dc";
			reg = <0x0 0x502c0000 0x0 0x100>, <0x0 0x502c0180 0x0 0x700>, <0x0 0x502c1400 0x0 0x1400>;
			interrupt-parent = <&plic>;
			interrupts = <238>;

			clocks = <&clk EIC7700_CLK_GATE_VO_CFG_CLK>,
						<&clk EIC7700_CLK_GATE_VO_PIXEL_CLK>,
						<&clk EIC7700_CLK_GATE_VO_ACLK>,
						<&clk EIC7700_CLK_SPLL0_FOUT1>,
						<&clk EIC7700_CLK_MUX_VO_ACLK_ROOT_2MUX1_GFREE>,
						<&clk EIC7700_CLK_MUX_VO_PIXEL_ROOT_2MUX1>,
						<&clk EIC7700_CLK_SPLL2_FOUT2>,
						<&clk EIC7700_CLK_VPLL_FOUT1>;
			clock-names = "cfg_clk", "pix_clk", "axi_clk", "spll0_fout1", "vo_mux",
							"pix_mux", "spll2_fout2", "vpll_fout1";
			resets = <&reset EIC7700_RESET_VO_AXI>,
						<&reset EIC7700_RESET_VO_CFG>,
						<&reset EIC7700_RESET_VO_DC>,
						<&reset EIC7700_RESET_VO_DC_PRST>;
			reset-names = "vo_arst", "vo_prst", "dc_arst", "dc_prst";
			dma-noncoherent;
			numa-node-id = <0>;

			dc_out: port {
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};

		dc_test: dctest@502c0000 {
			compatible = "eswin,eic7700-dc";
			reg = <0x0 0x502c0000 0x0 0x10000>;
			interrupt-parent = <&plic>;
			interrupts = <238>;
			numa-node-id = <0>;
		};

		hsp: bus@50400000 {
			compatible = "simple-pm-bus";
			ranges = <0x0 0x50400000 0x0 0x50400000 0x0 0xa0000>;
			clocks = <&clk EIC7700_CLK_GATE_HSP_CFG_CLK>;
			#address-cells = <2>;
			#size-cells = <2>;

			gmac0: ethernet@50400000 {
				compatible = "eswin,eic7700-qos-eth",
					     "snps,dwmac-5.20";
				reg = <0x0 0x50400000 0x0 0x10000>;
				interrupts = <61>;
				interrupt-names = "macirq";
				clocks = <&clk 186>,
					 <&clk 171>,
					 <&clk 40>,
					 <&clk 193>;
				clock-names = "axi", "cfg", "stmmaceth", "tx";
				resets = <&reset EIC7700_RESET_HSP_ETH0_ARST>;
				reset-names = "stmmaceth";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x100 0x108 0x118 0x114 0x11c>;
				snps,aal;
				snps,fixed-burst;
				snps,tso;
				snps,axi-config = <&stmmac_axi_setup_gmac0>;
				status = "disabled";

				gmac0_mdio: mdio {
					compatible = "snps,dwmac-mdio";
					#address-cells = <1>;
					#size-cells = <0>;
				};

				stmmac_axi_setup_gmac0: stmmac-axi-config {
					snps,blen = <0 0 0 0 16 8 4>;
					snps,rd_osr_lmt = <2>;
					snps,wr_osr_lmt = <2>;
				};
			};

			gmac1: ethernet@50410000 {
				compatible = "eswin,eic7700-qos-eth-clk-inversion",
					     "snps,dwmac-5.20";
				reg = <0x0 0x50410000 0x0 0x10000>;
				interrupts = <70>;
				interrupt-names = "macirq";
				clocks = <&clk 186>,
					 <&clk 171>,
					 <&clk 40>,
					 <&clk 194>;
				clock-names = "axi", "cfg", "stmmaceth", "tx";
				resets = <&reset EIC7700_RESET_HSP_ETH1_ARST>;
				reset-names = "stmmaceth";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x200 0x208 0x218 0x214 0x21c>;
				snps,aal;
				snps,fixed-burst;
				snps,tso;
				snps,axi-config = <&stmmac_axi_setup_gmac1>;
				status = "disabled";

				gmac1_mdio: mdio {
					compatible = "snps,dwmac-mdio";
					#address-cells = <1>;
					#size-cells = <0>;
				};

				stmmac_axi_setup_gmac1: stmmac-axi-config {
					snps,blen = <0 0 0 0 16 8 4>;
					snps,rd_osr_lmt = <2>;
					snps,wr_osr_lmt = <2>;
				};
			};

			sata: sata@50420000 {
				compatible = "eswin,eic7700-ahci", "snps,dwc-ahci";
				reg = <0x0 0x50420000 0x0 0x10000>;
				interrupts = <58>;
				clocks = <&clk EIC7700_CLK_GATE_HSP_CFG_CLK>,
					 <&clk EIC7700_CLK_GATE_HSP_ACLK>;
				clock-names = "pclk", "aclk";
				phys = <&sata_phy>;
				phy-names = "sata-phy";
				ports-implemented = <0x1>;
				resets = <&reset EIC7700_RESET_SATA_ARST>;
				reset-names = "arst";
				status = "disabled";
			};

			sata_phy: sata-phy@50440300 {
				compatible = "eswin,eic7700-sata-phy";
				reg = <0x0 0x50440300 0x0 0x40>;
				clocks = <&hspcrg EIC7700_HSP_CLK_GATE_SATA>;
				clock-names = "phy";
				resets = <&hspcrg EIC7700_HSP_RST_SATA_P0>,
					 <&hspcrg EIC7700_HSP_RST_SATA_PHY>;
				reset-names = "port", "phy";
				#phy-cells = <0>;
			};

			hsp_sp_csr: hsp-sp-top-csr@50440000 {
				compatible = "eswin,eic7700-syscfg", "syscon";
				reg = <0x0 0x50440000 0x0 0x2000>;
			};

			sdhci_emmc: mmc@50450000 {
				compatible = "eswin,eic7700-dwcmshc";
				reg = <0x0 0x50450000 0x0 0x10000>;
				interrupts = <79>;
				assigned-clocks = <&clk EIC7700_CLK_GATE_HSP_MSHC0_CORE_CLK>;
				assigned-clock-rates = <200000000>;
				bus-width = <8>;
				clocks = <&clk EIC7700_CLK_GATE_HSP_MSHC0_CORE_CLK>,
					 <&clk EIC7700_CLK_GATE_HSP_ACLK>;
				clock-names = "core", "bus";
				max-frequency = <200000000>;
				resets = <&reset EIC7700_RESET_HSP_EMMC_ARST>,
					 <&reset EIC7700_RESET_MSHC0_PHY>,
					 <&reset EIC7700_RESET_HSP_EMMC_PRST>,
					 <&reset EIC7700_RESET_MSHC0_TXRX>;
				reset-names = "axi", "phy", "prstn", "txrx";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x508 0x50c>;
				status = "disabled";
			};

			sdio0: mmc@50460000 {
				compatible = "eswin,eic7700-dwcmshc";
				reg = <0x0 0x50460000 0x0 0x10000>;
				interrupts = <81>;
				bus-width = <4>;
				clocks = <&clk EIC7700_CLK_GATE_HSP_MSHC1_CORE_CLK>,
					 <&clk EIC7700_CLK_GATE_HSP_ACLK>;
				clock-names = "core", "bus";
				max-frequency = <208000000>;
				resets = <&reset EIC7700_RESET_HSP_SD0_ARST>,
					 <&reset EIC7700_RESET_MSHC1_PHY>,
					 <&reset EIC7700_RESET_HSP_SD0_PRST>,
					 <&reset EIC7700_RESET_MSHC1_TXRX>;
				reset-names = "axi", "phy", "prstn", "txrx";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x608 0x60c>;
				status = "disabled";
			};

			sdio1: mmc@50470000 {
				compatible = "eswin,eic7700-dwcmshc";
				reg = <0x0 0x50470000 0x0 0x10000>;
				interrupts = <83>;
				bus-width = <4>;
				clocks = <&clk EIC7700_CLK_GATE_HSP_MSHC2_CORE_CLK>,
					 <&clk EIC7700_CLK_GATE_HSP_ACLK>;
				clock-names = "core", "bus";
				max-frequency = <208000000>;
				resets = <&reset EIC7700_RESET_HSP_SD1_ARST>,
					 <&reset EIC7700_RESET_MSHC2_PHY>,
					 <&reset EIC7700_RESET_HSP_SD1_PRST>,
					 <&reset EIC7700_RESET_MSHC2_TXRX>;
				reset-names = "axi", "phy", "prstn", "txrx";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x708 0x70c>;
				status = "disabled";
			};

			usb0: usb@50480000 {
				compatible = "eswin,eic7700-dwc3";
				reg = <0x0 0x50480000 0x0 0x10000>;
				interrupts = <85>;
				interrupt-names = "peripheral";
				clocks = <&clk EIC7700_CLK_GATE_HSP_ACLK>,
					 <&clk EIC7700_CLK_GATE_HSP_CFG_CLK>,
					 <&hspcrg EIC7700_HSP_CLK_GATE_USB0>;
				clock-names = "aclk", "cfg", "usb_en";
				dr_mode = "host";
				maximum-speed = "high-speed";
				phy_type = "utmi";
				resets = <&reset EIC7700_RESET_USB0_VAUX>,
					 <&hspcrg EIC7700_HSP_RST_USB0>;
				reset-names = "vaux", "usb_rst";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x800 0x818>;
				status = "disabled";
			};

			usb1: usb@50490000 {
				compatible = "eswin,eic7700-dwc3";
				reg = <0x0 0x50490000 0x0 0x10000>;
				interrupts = <86>;
				interrupt-names = "host";
				clocks = <&clk EIC7700_CLK_GATE_HSP_ACLK>,
					 <&clk EIC7700_CLK_GATE_HSP_CFG_CLK>,
					 <&hspcrg EIC7700_HSP_CLK_GATE_USB1>;
				clock-names = "aclk", "cfg", "usb_en";
				dr_mode = "host";
				maximum-speed = "high-speed";
				phy_type = "utmi";
				resets = <&reset EIC7700_RESET_USB1_VAUX>,
					 <&hspcrg EIC7700_HSP_RST_USB1>;
				reset-names = "vaux", "usb_rst";
				eswin,hsp-sp-csr = <&hsp_sp_csr 0x900 0x918>;
				status = "disabled";
			};
		};

		hspcrg: clock-controller@50440000 {
			compatible = "eswin,eic7700-hspcrg";
			reg = <0x0 0x50440000 0x0 0x2000>;
			clocks = <&clk EIC7700_CLK_GATE_HSP_CFG_CLK>,
				 <&clk EIC7700_CLK_FIXED_FACTOR_CLK_1M_DIV24>,
				 <&clk EIC7700_CLK_GATE_HSP_SATA_OOB_CLK>;
			clock-names = "cfg", "mmc", "sata";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		wdt0: watchdog@50800000 {
			compatible = "snps,dw-wdt";
			reg = <0x0 0x50800000 0x0 0x4000>;
			interrupts = <87>;
			clocks =<&clk EIC7700_CLK_GATE_LSP_WDT0_PCLK>;
			clock-names = "tclk";
			resets = <&reset EIC7700_RESET_WDT0>;
			status = "disabled";
		};

		wdt1: watchdog@50804000 {
			compatible = "snps,dw-wdt";
			reg = <0x0 0x50804000 0x0 0x4000>;
			interrupts = <88>;
			clocks =<&clk EIC7700_CLK_GATE_LSP_WDT1_PCLK>;
			clock-names = "tclk";
			resets = <&reset EIC7700_RESET_WDT1>;
			status = "disabled";
		};

		wdt2: watchdog@50808000 {
			compatible = "snps,dw-wdt";
			reg = <0x0 0x50808000 0x0 0x4000>;
			interrupts = <89>;
			clocks =<&clk EIC7700_CLK_GATE_LSP_WDT2_PCLK>;
			clock-names = "tclk";
			resets = <&reset EIC7700_RESET_WDT2>;
			status = "disabled";
		};

		wdt3: watchdog@5080c000 {
			compatible = "snps,dw-wdt";
			reg = <0x0 0x5080c000 0x0 0x4000>;
			interrupts = <90>;
			clocks =<&clk EIC7700_CLK_GATE_LSP_WDT3_PCLK>;
			clock-names = "tclk";
			resets = <&reset EIC7700_RESET_WDT3>;
			status = "disabled";
		};

		uart0: serial@50900000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x50900000 0x0 0x10000>;
			interrupts = <100>;
			clock-frequency = <200000000>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart1: serial@50910000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x50910000 0x0 0x10000>;
			interrupts = <101>;
			clock-frequency = <200000000>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart2: serial@50920000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x50920000 0x0 0x10000>;
			interrupts = <102>;
			clock-frequency = <200000000>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart3: serial@50930000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x50930000 0x0 0x10000>;
			interrupts = <103>;
			clock-frequency = <200000000>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		uart4: serial@50940000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0x50940000 0x0 0x10000>;
			interrupts = <104>;
			clock-frequency = <200000000>;
			reg-io-width = <4>;
			reg-shift = <2>;
			status = "disabled";
		};

		i2c0: i2c@50950000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x50950000 0x0 0x8000>;
			interrupts = <105>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C0_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@50960000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x50960000 0x0 0x8000>;
			interrupts = <106>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C1_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@50970000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x50970000 0x0 0x8000>;
			interrupts = <107>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C2_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C2>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@50980000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x50980000 0x0 0x8000>;
			interrupts = <108>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C3_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C3>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@50990000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x50990000 0x0 0x8000>;
			interrupts = <109>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C4_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C4>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c5: i2c@509a0000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x509a0000 0x0 0x8000>;
			interrupts = <110>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C5_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c6: i2c@509b0000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x509b0000 0x0 0x8000>;
			interrupts = <111>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C6_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C6>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c7: i2c@509c0000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x509c0000 0x0 0x8000>;
			interrupts = <112>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C7_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C7>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c8: i2c@509d0000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x509d0000 0x0 0x8000>;
			interrupts = <113>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C8_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C8>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c9: i2c@509e0000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x509e0000 0x0 0x8000>;
			interrupts = <114>;
			clocks = <&clk EIC7700_CLK_GATE_LSP_I2C9_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_I2C9>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		aon_i2c0: i2c@51830000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x51830000 0x0 0x8000>;
			interrupts = <290>;
			clocks = <&clk EIC7700_CLK_GATE_AON_I2C0_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_ANO0>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		aon_i2c1: i2c@51838000 {
			compatible = "eswin,eic7700-i2c", "snps,designware-i2c";
			reg = <0x0 0x51838000 0x0 0x8000>;
			interrupts = <291>;
			clocks = <&clk EIC7700_CLK_GATE_AON_I2C1_PCLK>;
			clock-names = "ref";
			clock-frequency = <100000>;
			resets = <&reset EIC7700_RESET_ANO1>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		gpio@51600000 {
			compatible = "snps,dw-apb-gpio";
			reg = <0x0 0x51600000 0x0 0x80>;
			#address-cells = <1>;
			#size-cells = <0>;

			gpioA: gpio-port@0 {
				compatible = "snps,dw-apb-gpio-port";
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts =
					<303>, <304>, <305>, <306>, <307>, <308>, <309>,
					<310>, <311>, <312>, <313>, <314>, <315>, <316>,
					<317>, <318>, <319>, <320>, <321>, <322>, <323>,
					<324>, <325>, <326>, <327>, <328>, <329>, <330>,
					<331>, <332>, <333>, <334>;
				gpio-controller;
				ngpios = <32>;
				#gpio-cells = <2>;
			};

			gpioB: gpio-port@1 {
				compatible = "snps,dw-apb-gpio-port";
				reg = <1>;
				gpio-controller;
				ngpios = <32>;
				#gpio-cells = <2>;
			};

			gpioC: gpio-port@2 {
				compatible = "snps,dw-apb-gpio-port";
				reg = <2>;
				gpio-controller;
				ngpios = <32>;
				#gpio-cells = <2>;
			};

			gpioD: gpio-port@3 {
				compatible = "snps,dw-apb-gpio-port";
				reg = <3>;
				gpio-controller;
				ngpios = <16>;
				#gpio-cells = <2>;
			};
		};

		pinctrl: pinctrl@51600080 {
			compatible = "eswin,eic7700-pinctrl";
			reg = <0x0 0x51600080 0x0 0x1fff80>;
		};

		clk: clock-controller@51828000 {
			compatible = "eswin,eic7700-clock";
			reg = <0x0 0x51828000 0x0 0x300>;
			clocks = <&clock_24m>;
			#clock-cells = <1>;
		};

		reset: reset-controller@51828300 {
			compatible = "eswin,eic7700-reset";
			reg = <0x0 0x51828300 0x0 0x200>;
			#reset-cells = <1>;
		};

		pcie: pcie@54000000 {
			compatible = "eswin,eic7700-pcie";
			reg = <0x0 0x54000000 0x0 0x4000000>,
			      <0x0 0x40000000 0x0 0x800000>,
			      <0x0 0x50000000 0x0 0x100000>;
			reg-names = "dbi", "config", "elbi";
			ranges = <0x01000000 0x0 0x40800000 0x0 0x40800000 0x0 0x800000>,
				 <0x02000000 0x0 0x41000000 0x0 0x41000000 0x0 0xf000000>,
				 <0x43000000 0x80 0x00000000 0x80 0x00000000 0x2 0x00000000>;
			interrupts = <220>, <179>, <180>, <181>, <182>, <183>, <184>, <185>, <186>;
			interrupt-names = "msi", "inta", "intb", "intc", "intd";
			interrupt-map-mask = <0x0 0x0 0x0 0x7>;
			interrupt-map = <0x0 0x0 0x0 0x1 &plic 179>,
					<0x0 0x0 0x0 0x2 &plic 180>,
					<0x0 0x0 0x0 0x3 &plic 181>,
					<0x0 0x0 0x0 0x4 &plic 182>;
			bus-range = <0x00 0xff>;
			clocks = <&clk EIC7700_CLK_GATE_PCIET_ACLK>,
				 <&clk EIC7700_CLK_GATE_PCIET_CFG_CLK>,
				 <&clk EIC7700_CLK_GATE_PCIET_CR_CLK>,
				 <&clk EIC7700_CLK_GATE_PCIET_AUX_CLK>;
			clock-names = "mstr", "dbi", "phy_reg", "aux";
			device_type = "pci";
			#interrupt-cells = <1>;
			resets = <&reset EIC7700_RESET_PCIE_CFG>,
				 <&reset EIC7700_RESET_PCIE_POWEUP>;
			reset-names = "dbi", "pwr";
			#address-cells = <3>;
			#size-cells = <2>;
			status = "disabled";

			pcie@0 {
				reg = <0x0 0x0 0x0 0x0 0x0>;
				ranges;
				device_type = "pci";
				num-lanes = <4>;
				resets = <&reset EIC7700_RESET_PCIE_PERST>;
				reset-names = "perst";
				#address-cells = <3>;
				#size-cells = <2>;
			};
		};

		video_output: display-subsystem@0 {
			compatible = "eswin,eic7700-display-subsystem";
			ports = <&dc_out>;
			numa-node-id = <0>;
		};

		virtual_display: es_wb@0 {
			compatible = "eswin,eic7700-virtual_display";
			bpp = /bits/ 8 <8>;
			numa-node-id = <0>;
		};

		dsi_output: dsi-output@0 {
			compatible = "eswin,eic7700-dsi-encoder";
			numa-node-id = <0>;
			status = "disabled";
		};
	};
};
