// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024, Beijing ESWIN Computing Technology Co., Ltd.
 */

/dts-v1/;

#define MEMORY_SIZE_H           0x4
#define MEMORY_SIZE_L           0x0
#define CMA_SIZE                0x20000000

#include "eic7700.dtsi"
#include "eic7700-pinctrl.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "sifive,hifive-premier-p550", "eswin,eic7700";
	model = "SiFive HiFive Premier P550";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		mmc0 = &sdhci_emmc;
		mmc1 = &sdio0;
		mmc2 = &sdio1;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vcc_1v8: regulator-vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x4 0x00000000>;
	};

	memory@59000000 {
		device_type = "memory";
		reg = <0x0 0x59000000 0x0 0x400000>;
		numa-node-id = <0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
				compatible = "shared-dma-pool";
				reusable;
				size = <0x0 CMA_SIZE>;
				alignment = <0x0 0x1000>;
				alloc-ranges = <0x0 0x80000000 0x4 0x00000000>;
				linux,cma-default;
		};

		npu_reserved: sprammemory@59000000 {
				no-map;
				reg = <0x0 0x59000000 0x0 0x400000>;
		};

		g2d_4GB_boundary_reserved_4k {
				no-map;
				reg = <0x0 0xfffff000 0x0 0x1000>;
		};

		g2d_8GB_boundary_reserved_4k {
				no-map;
				reg = <0x1 0xfffff000 0x0 0x1000>;
		};

		g2d_12GB_boundary_reserved_4k {
				no-map;
				reg = <0x2 0xfffff000 0x0 0x1000>;
		};

		mmz_nid_0_part_0 {
				compatible = "eswin-reserve-memory";
				reg = <0x3 0x0 0x1 0x80000000>;
				no-map;
		};
	};
};

&clock_24m {
	clock-frequency = <24000000>;
	clock-output-names = "clock_24m";
};

&gpio0_pins {
	bias-disable;
	input-enable;
};

&gpio5_pins {
	bias-disable;
	input-enable;
};

&gpio11_pins {
	bias-disable;
	input-enable;
};

&gpio14_pins {
	bias-pull-up;
	input-disable;
};

&gpio15_pins {
	bias-disable;
	input-enable;
};

&gpio28_pins {
	bias-disable;
	input-enable;
};

&gpio43_pins {
	bias-disable;
	input-disable;
};

&gpio71_pins {
	bias-pull-up;
	input-disable;
};

&gpio74_pins {
	bias-pull-up;
	input-disable;
};

&gpio76_pins {
	bias-disable;
	input-disable;
};

&gpio77_pins {
	bias-pull-up;
	input-disable;
};

&gpio79_pins {
	bias-disable;
	input-disable;
};

&gpio80_pins {
	bias-pull-up;
	input-disable;
};

&gpio82_pins {
	bias-pull-up;
	input-disable;
};

&gpio84_pins {
	bias-disable;
	input-disable;
};

&gpio85_pins {
	bias-pull-up;
	input-disable;
};

&gpio94_pins {
	bias-disable;
	input-disable;
};

&gpio106_pins {
	bias-disable;
	input-disable;
};

&gpio111_pins {
	bias-disable;
	input-disable;
};

&aon_i2c0 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
};

&dc_test {
	status = "disabled";
};

&video_output {
	status = "okay";
};

&dc {
	status = "okay";

	dc_out: port {
		#address-cells = <1>;
		#size-cells = <0>;
		dc_out_dpi: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&vd_input>;
		};
		dc_out_hdmi: endpoint@2 {
			reg = <2>;
			remote-endpoint = <&hdmi_in_dc>;
		};
	};
};

&virtual_display {
	status = "okay";
	port {
		vd_input: endpoint {
			remote-endpoint = <&dc_out_dpi>;
		};
	};
};

&dsi_output {
	status = "okay";
};

&dsi_controller {
	status = "okay";
};

&dw_hdmi {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			hdmi_in_dc: endpoint@0 {
				remote-endpoint = <&dc_out_hdmi>;
			};
		};
		/*
		port@2 {
			reg = <2>;
			hdmi_in_i2s: endpoint@1 {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&i2s0_endpoint>;
			};
		};
		*/
	};
};

&dw_hdmi_hdcp2 {
    status = "okay";
};

&gmac0 {
	phy-handle = <&gmac0_phy0>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gpio106_pins>;
	rx-internal-delay-ps = <20>;
	tx-internal-delay-ps = <100>;
	status = "okay";
};

&gmac0_mdio {
	gmac0_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916";
		reg = <0>;
		reset-gpios = <&gpioD 10 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
	};
};

&gmac1 {
	phy-handle = <&gmac1_phy0>;
	/*
	 * The MAC silicon unconditionally introduces an ~2 ns TX clock-to-data
	 * skew (MAC-side TX internal delay). The PHY provides the standard
	 * ~2 ns RX internal delay. The driver additionally inverts the RX
	 * clock at 1000 Mb/s to correct a silicon RX sampling timing issue.
	 * phy-mode is "rgmii-id": TX delay from the MAC silicon, RX delay
	 * from the PHY.
	 */
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gpio111_pins>;
	rx-internal-delay-ps = <200>;
	tx-internal-delay-ps = <2200>;
	status = "okay";
};

&gmac1_mdio {
	gmac1_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916";
		reg = <0>;
		reset-gpios = <&gpioD 15 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
	};
};

&aon_i2c1 {
	status = "okay";

	adc@10 {
		compatible = "microchip,pac1934";
		reg = <0x10>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@1 {
			reg = <0x1>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_SOM";
		};

		channel@2 {
			reg = <0x2>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_SOC";
		};

		channel@3 {
			reg = <0x3>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_CPU";
		};

		channel@4 {
			reg = <0x4>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_LPDDR";
		};
	};

	power-sensor@44 {
		compatible = "ti,ina226";
		reg = <0x44>;
		#io-channel-cells = <1>;
		label = "sys_power";
		shunt-resistor = <1000>;
	};
};

&pcie {
	status = "okay";
};

&pinctrl {
	vrgmii-supply = <&vcc_1v8>;
};

&sata {
	status = "okay";
};

&sdhci_emmc {
	eswin,drive-impedance-ohms = <50>;
	mmc-hs400-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&sdio0 {
	eswin,drive-impedance-ohms = <33>;
	no-mmc;
	no-sdio;
	status = "okay";
};

&sdio1 {
	eswin,drive-impedance-ohms = <33>;
	no-mmc;
	no-sd;
	non-removable;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb0 {
	wakeup-source;
	snps,dis_enblslpm_quirk;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis_u2_susphy_quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,parkmode-disable-ss-quirk;
	status = "okay";
};

&usb1 {
	wakeup-source;
	snps,dis_enblslpm_quirk;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis_u2_susphy_quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,parkmode-disable-ss-quirk;
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};
