// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024, Beijing ESWIN Computing Technology Co., Ltd.
 */

/dts-v1/;

#include "eic7700.dtsi"
#include "eic7700-pinctrl.dtsi"

/ {
	compatible = "sifive,hifive-premier-p550", "eswin,eic7700";
	model = "SiFive HiFive Premier P550";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vcc_1v8: regulator-vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&clock_24m {
	clock-frequency = <24000000>;
	clock-output-names = "clock_24m";
};

&gpio0_pins {
	bias-disable;
	input-enable;
};

&gpio5_pins {
	bias-disable;
	input-enable;
};

&gpio11_pins {
	bias-disable;
	input-enable;
};

&gpio14_pins {
	bias-pull-up;
	input-disable;
};

&gpio15_pins {
	bias-disable;
	input-enable;
};

&gpio28_pins {
	bias-disable;
	input-enable;
};

&gpio43_pins {
	bias-disable;
	input-disable;
};

&gpio71_pins {
	bias-pull-up;
	input-disable;
};

&gpio74_pins {
	bias-pull-up;
	input-disable;
};

&gpio76_pins {
	bias-disable;
	input-disable;
};

&gpio77_pins {
	bias-pull-up;
	input-disable;
};

&gpio79_pins {
	bias-disable;
	input-disable;
};

&gpio80_pins {
	bias-pull-up;
	input-disable;
};

&gpio82_pins {
	bias-pull-up;
	input-disable;
};

&gpio84_pins {
	bias-disable;
	input-disable;
};

&gpio85_pins {
	bias-pull-up;
	input-disable;
};

&gpio94_pins {
	bias-disable;
	input-disable;
};

&gpio106_pins {
	bias-disable;
	input-disable;
};

&gpio111_pins {
	bias-disable;
	input-disable;
};

&aon_i2c0 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
};

&aon_i2c1 {
	status = "okay";

	adc@10 {
		compatible = "microchip,pac1934";
		reg = <0x10>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@1 {
			reg = <0x1>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_SOM";
		};

		channel@2 {
			reg = <0x2>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_SOC";
		};

		channel@3 {
			reg = <0x3>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_CPU";
		};

		channel@4 {
			reg = <0x4>;
			shunt-resistor-micro-ohms = <1000>;
			label = "VDD_LPDDR";
		};
	};

	power-sensor@44 {
		compatible = "ti,ina226";
		reg = <0x44>;
		#io-channel-cells = <1>;
		label = "sys_power";
		shunt-resistor = <1000>;
	};
};

&pinctrl {
	vrgmii-supply = <&vcc_1v8>;
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};
